body {
    font-family: 'Nunito Sans', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    transition: 0.3s;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #DEDEDE;
}

.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 22px;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
}

.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
}

.header-nav a {
    font-size: 20px;
    font-weight: 600;
    color: #443737;
    text-decoration: none;

}

.header-nav a:hover {
    color: #FFC725;

}

.header-nav a::after{
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}

.header-nav a.active::after {
    background: #FFC725;
}

button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;

}

.button-item {
    position: relative;

}

.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    background-color: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;


}

.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;

}



.bg-menu {
    text-align: center;
    color: #fff;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;

}

.breadcrumbs {
    padding-left: 0;
    margin-top: 3px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-left: 1px;

}

.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}

.breadcrumbs a:hover {
    color: #FFC725;
}

.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -4px;
    pointer-events: none;

}

.breadcrumbs a:hover::before {
    color: #DEDEDE;
}

.breadcrumbs li:first-child a::before {
    display: none;
}

.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 10px;
    margin-bottom: 21px;

}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
    /* padding-top: 1px; */
}

.banner {
    background-image: url(../images/banner-box.jpg);
    background-repeat:no-repeat;
    background-position: center;
    margin-bottom: 65px;
    /* width: 1180px; */
    height: 438px;
    margin-top: -1px;
}

.banner-box {
    padding-top: 100px;
    padding-left: 100px;
    width: 180px;
    height: 438px;
    
}


.banner-sale {
    position: relative;
    top: 4px;
    background-color: #F37335;
    border-radius: 14px;
    padding: 5px 18px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0;
}

.banner-text {
    width: 324px;
    height: 48px;
    margin-top: 13px;
    margin-bottom: 15px;
    font-family: Open Sans; 
    color: #FAF9F9;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.banner-link {
    display: flex;
    width: 168px;
    height: 56px;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #1E2F40;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;  
    border: 1px solid #FBB731; 
    transition: 0.2s;

}

.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-title {
    font-size: 44px;
    color: #1B2A49;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-select {
    border-radius: 22px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    padding-top: 3px;
    padding-left: 30px;
    font-size: 15px;
    appearance: none;
    letter-spacing: 0.2px;
    flex-basis: 279px;
    height: 44px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 44.79px 7.75px;
    background-position: 95% center;
    margin: 0;
    
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 50px;

}

.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;

}

.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}

.menu-grid-title {
    text-align: center;
    color: #1B2A49;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 1px;
    margin-top: 23px;
    margin-bottom: 0;
}

.menu-grid-price {
    text-align: center;
    color: #979797;
    font-size: 20px;
    font-weight: 700;
    margin-top: 9px;
    margin-bottom: 22px;
}

.menu-grid-btn {
    background: #FBB731;
    border-radius: 5px;
    width: 152px;
    height: 38px;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin: 0 auto; 
}

.menu-grid-icon img {
    position: relative;
    align-items: center;
    padding-top: 4px;
    left: -3px;
    margin: 0;
}

.menu-grid-text {
    color: #1E2F40;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: 1px;
    right: 3px;
    transition: 0.3s;
}

.menu-grid-btn:hover {
    background-color: #F37335;
}

.menu-title__holder{
    color: #1B2A49;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 102px;
}

.menu-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 37px;
}

.menu-fkex-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;

}
.menu-flex-title {
    text-align: center;
    color: #1B2A49;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 1px;
    margin-top: 18px;
    margin-bottom: 0;
}

.menu-flex-price {
    text-align: center;
    color: #979797;
    font-size: 20px;
    font-weight: 700;
    margin-top: 9px;
    margin-bottom: 22px;
}

.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;
    margin-top: 140px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    width: 63px;
    height: 56px;
}
.footer-item {
    flex: 0 0 auto;
}
.footer-item h2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 0;
    margin-left: -9px;
}

.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.footer-list a {
    color: #FBB731;
    text-decoration: none;
    font-weight: 400;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}

.footer-list__tel {
    margin-top: 0;
}
.footer-list__tel li {
    margin-bottom: 12px;
}

.footer-list__tel a {
    font-weight: 800;
    font-size: 20px;
    color: #DEDEDE;
}
.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list__inner {
    font-weight: 700;
}

.button-up {
   background-color: #FBB731; 
   color: #1E2F40;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    transition: 1s;
}

.button-up:hover {
    background-color: #F37335;
}

.button-up.hidden {
    opacity: 0;
}

.button-up.visible { 
    opacity: 1;
}

/*style index*/

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}

.main__iner {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

/* h1 {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
} */
h1 span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
}
.text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}
.main a,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 46px;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../images/promo-left.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../images/promo-right.png);
    padding: 102px 50px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
}
.promo-left .description {
    max-width: 392px;
}
.promo-right .description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Modal */
.burger {
    width: 34px;
    height: 22px;
    background-image: url(../images/Burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal {
    background-color: #FFF8DC;
    max-width: 500px;
    text-align: center;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    padding: 40px 30px;
    box-sizing: border-box;
    transition: .5s;
}

.modal .header-nav {
    flex-direction: column;
    align-items: center;
    gap: 23px;
    margin: 0;
}
.burger-close {
    width: 22px;
    height: 22px;
    background-image: url(../images/close.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/*Responsive*/

@media (min-width: 1001px) {
    .footer-list + .footer-list__tel {
        display: none;
    } 
}

@media (min-width: 766px) {
    .header-burger {
        display: none;
    }
}
@media (max-width: 1000px) {
    .container {
        max-width: 738px;
    }
    .header-logo {
        width: 150px;
        height: 78px;
        background-size: contain;
        margin: 0;
        position: relative;
        top: 14px;
        left: 1px;
    }
    .header-nav {
        gap: 22px;
        margin: 0;
    }
    .header-item {
        flex-basis: 75.5%;
    }
    .header {
        margin-top: 30px;
        margin-bottom: 12px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .breadcrumbs {
        padding-left: 14px;
    }
    .title {
        position: relative;
        left: 6px;
    }
    .description {
        position: relative;
        top: -2px;
        left: 7px;
    }
    .bg-menu {
        margin-bottom: 69px;
    }
    .banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -80px center;
        max-width: 738px;
        height: 438px;
        margin: 0 auto;
    }
    .banner-box {
    background-position: center center;
    background-size: cover; 
    padding-top: 101px;
    padding-left: 26px;
    height: 438px;
    max-width: 1000px;
    }
    .menu-header {
        margin-top: 46px;
    }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 19px;
    }
    .menu-title__holder {
        margin-top: 91px;
    }
    .footer-tel {
        display: none;
    }
    .footer-list + .footer-list__tel {
        display: block;
    }
    
    .menu-flex {
       display: flex;
       width: auto;
       height: 424px;
       overflow-x: scroll;
       overflow-y: hidden;
       padding-bottom: 50px;
       gap: 10px;
    }
    .menu-flex .menu-flex-item {
        flex: 0 0 281px;
    }
    .menu-flex .menu-flex-cover,
    .menu-flex .menu-flex-cover img {
        height: 318px;
    }
    .footer {
        margin-top: 134px;
        padding-top: 62px;
    }
}

@media (max-width: 765px) {
    nav {
        display: none;
    }
}
@media (max-width: 567px) {
    .title {
        font-weight: 700;
        font-size: 38px;
    }
    .breadcrumbs a {
        font-size: 14px;
    }
    .description {
        font-size: 12px;
    }
    .bg-menu {
        padding: 55px;
    }
}
@media (max-width: 413px) {
    .banner-box {
        background-position: center center;
        padding: 35px 15px 54px;
        }
        .banner {
        background-position: -155px center;
        }
        .banner-sale {
            top: 30px;
        }
        .banner-title {
            margin-top: 46px;
        }
        .banner-text {
            width: 250px;
        }
        .banner-link {
        width: 173px;
        height: 58px;
        margin-top: 51px;
        }
}

@media (max-width: 360px) {
    .header-logo {
        width: 116px;
        height: 37px;
        background-size: contain;
        position: relative;
        top: 0;
        margin-left: 21px;
    }
}

