body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #DEDEDE;
}

.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 26px;
}

.header-logo {
    display: block;
    background-image: url(../imeges/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
}

.header-nav a {
    font-size: 20px;
    font-weight: 600;
    color: #443737;
    text-decoration: none;

}

.header-nav a:hover {
    color: #FFC725;

}

.header-nav a::after{
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}

.header-nav a.active::after {
    background: #FFC725;
}

button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;

}

.button-item {
    position: relative;

}

.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    background-color: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;


}

.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;

}

.bg {
    text-align: center;
    color: #fff;
    background-image: url(../imeges/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;

}

.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-left: 1px;

}

.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}

.breadcrumbs a:hover {
    color: #FFC725;
}

.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -4px;
    pointer-events: none;

}

.breadcrumbs a:hover::before {
    color: #DEDEDE;
}

.breadcrumbs li:first-child a::before {
    display: none;
}

.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 10px;
    margin-bottom: 21px;

}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}

.banner {
    background-image: url(../imeges/baner-box.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    margin-bottom: 65px;
    min-width: 1180px;
    height: 438px;
    margin-top: -1px;
}

.banner-box {
    padding-top: 100px;
    padding-left: 100px;
    width: 180px;
    height: 438px;
    
}


.banner-sale {
    position: relative;
    top: 4px;
    background-color: #F37335;
    border-radius: 14px;
    padding: 5px 18px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0;
}

.banner-text {
    width: 324px;
    height: 48px;
    margin-top: 13px;
    margin-bottom: 15px;
    font-family: Open Sans; 
    color: #FAF9F9;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.banner-link {
    display: flex;
    width: 170px;
    height: 58px;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #1E2F40;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;   

}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-title {
    font-size: 44px;
    color: #1B2A49;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-select {
    border-radius: 22px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    padding-top: 3px;
    padding-left: 30px;
    font-size: 15px;
    appearance: none;
    letter-spacing: 0.2px;
    flex-basis: 279px;
    height: 44px;
    background-image: url(../imeges/arrow.svg);
    background-repeat: no-repeat;
    background-size: 44.79px 7.75px;
    background-position: 95% center;
    margin: 0;
    
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 50px;

}

.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;

}

.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}

.menu-grid-title {
    text-align: center;
    color: #1B2A49;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 1px;
    margin-top: 23px;
    margin-bottom: 0;
}

.menu-grid-price {
    text-align: center;
    color: #979797;
    font-size: 20px;
    font-weight: 700;
    margin-top: 9px;
    margin-bottom: 22px;
}

.menu-grid-btn {
    background: #FBB731;
    border-radius: 5px;
    width: 152px;
    height: 38px;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin: 0 auto; 
}

.menu-grid-icon img {
    position: relative;
    align-items: center;
    padding-top: 4px;
    left: -3px;
    margin: 0;
}

.menu-grid-text {
    color: #1E2F40;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: 1px;
    right: 3px;
}